._carousel {
    position: relative;
    z-index: 50;
}
._cont{
    position: relative;
    z-index: 90;
    margin-top: -170px;
    display: inline-block;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .3);
    width: 40%;
    height: auto;
    border-radius: 30;
}
._root {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}
._form{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
}